######################
# General
######################

# Directories #
/build/
target/
 
# OS Files #
.DS_Store
 
*.class
 
# Package Files #
*.war
*.ear
*.db

# Misc Files
 
 
######################
# Windows
######################
 
# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini
 
 
######################
# OSX
######################
 
.DS_Store
.svn
 
# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes


######################
# Linux
######################

*~
 
 
######################
# Eclipse
######################
 
*.pydevproject
.metadata
tmp/
**/eclipsebin/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
/src/main/resources/rebel.xml
.eclipse-pmd
ruleset.xml

# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
.cproject
 
# PDT-specific
.buildpath

# Ignoring .svn folder
.svn/*

# Git files created by Eclipse
**/.gitginore
 
 
######################
# Hybris 
######################

# Not excluded files - MUST BE AT THE TOP
!bin/custom/ext-fliegercommerce/klarnapayment/hmc/bin/klarnapaymenthmc.jar
!installer/recipes/**

# Folders
data/
log/
temp/
.metadata/
sampleconfigurations/**
bin/ext-*/
bin/platform/
**/RemoteSystemsTempFiles/
**/.externalToolBuilders/
licences/
config/*
build-tools/
installer/*
**/storecatalogfeed/output

# Folders - Automagically Generated
**/classes/**
**/gensrc/**
**/hmc/bin/**
**/.recommenders/**
**/hmc/classes/**
**/web/addonsrc/**
**/web/commonwebsrc/**
**/web/testclasses/**
**/web/webroot/_ui/addons/**
**/web/webroot/cmscockpit/**
**/web/webroot/cockpit/**
**/web/webroot/productcockpit/**
**/web/webroot/WEB-INF/addons/**
**/web/webroot/WEB-INF/classes/**
**/web/webroot/WEB-INF/messages/addons/**
**/web/webroot/WEB-INF/tags/addons/**
**/web/webroot/WEB-INF/tld/addons/**
**/web/webroot/WEB-INF/views/addons/**
**/bazaarvoice/resources/feed/**


# Patterns ignored on Git <1.7.x
bin/custom/ext-kpfamily/kpfamilycore/hmc/bin/
bin/custom/ext-kpfamily/kpfamilyhmc/hmc/bin/
hmc/bin/
build/
gensrc/
addonsrc/
commonwebsrc/


# Files - Automatically Generated by ant
bin/custom/addon-fliegercommerce/fccapvalidatoraddon/.gitignore
bin/custom/addon-fliegercommerce/fliegerb2baccsummaryaddon/.gitignore
bin/custom/addon-fliegercommerce/fliegerb2binvoicessapaddon/.gitignore

# Files - Automatically Generated by eclipse
bin/custom/addon-fliegercommerce/adveoaddressaddon/.project
bin/custom/addon-fliegercommerce/adveob2bunitvalidateaddon/.classpath
bin/custom/addon-fliegercommerce/adveob2bunitvalidateaddon/.project
bin/custom/addon-fliegercommerce/adveoitalyquotationaddon/.classpath
bin/custom/addon-fliegercommerce/adveoitalyquotationaddon/.project
bin/custom/addon-fliegercommerce/adveoreclaimaddon/.project
bin/custom/addon-fliegercommerce/cigcupaddon/.project
bin/custom/addon-fliegercommerce/fcb2bmultitariffaddon/.project
bin/custom/addon-fliegercommerce/fcb2bprodmatchingcodeaddon/.project
bin/custom/addon-fliegercommerce/fcb2bshoppinglistaddon/.classpath
bin/custom/addon-fliegercommerce/fcb2bshoppinglistaddon/.project
bin/custom/addon-fliegercommerce/fliegerb2baccsummaryaddon/.project
bin/custom/addon-fliegercommerce/fliegerb2baddon/.project
bin/custom/addon-fliegercommerce/fliegerb2bdatasheetpdfaddon/.project
bin/custom/addon-fliegercommerce/fliegerb2bemailsettingaddon/.project
bin/custom/addon-fliegercommerce/fliegerb2beosfinder/.project
bin/custom/addon-fliegercommerce/fliegerb2binvoicessapaddon/.classpath
bin/custom/addon-fliegercommerce/fliegerb2binvoicessapaddon/.project
bin/custom/addon-fliegercommerce/fliegerb2borgaddon/.project
bin/custom/addon-fliegercommerce/fliegerb2breturnsaddon/.project
bin/custom/addon-fliegercommerce/fliegerb2bsecportaladdon/.classpath
bin/custom/addon-fliegercommerce/fliegerb2bsecportaladdon/.project
bin/custom/addon-fliegercommerce/fliegercommerceeasybuy/.project
bin/custom/addon-fliegercommerce/fliegercommerceproductinfoaddon/.project
bin/custom/addon-fliegercommerce/historyorderaddon/.classpath
bin/custom/addon-fliegercommerce/historyorderaddon/.project
bin/custom/addon-fliegercommerce/offlinesalesorderaddon/.classpath
bin/custom/addon-fliegercommerce/offlinesalesorderaddon/.project
bin/custom/ext-fliegercommerce/adveooutbounddelivery/.project
bin/custom/ext-fliegercommerce/adveoproducticonimage/.project
bin/custom/ext-fliegercommerce/fcb2bmultitariff/.classpath
bin/custom/ext-fliegercommerce/fcb2bmultitariff/.project
bin/custom/ext-fliegercommerce/fcb2bmultitariffhmc/.project
bin/custom/ext-fliegercommerce/fcb2bsapfullfillmentprocess/.project
bin/custom/ext-fliegercommerce/fcb2bshoppinglist/.classpath
bin/custom/ext-fliegercommerce/fcb2bshoppinglist/.project
bin/custom/ext-fliegercommerce/fcrestflexiblesearch/.project
bin/custom/ext-fliegercommerce/fliegerb2bdataimport/.project
bin/custom/ext-fliegercommerce/fliegerb2bemailsetting/.project
bin/custom/ext-fliegercommerce/fliegerb2bproductvisibility/.project
bin/custom/ext-fliegercommerce/fliegerb2bsaporderexchange/.classpath
bin/custom/ext-fliegercommerce/fliegerb2bsaporderexchange/.project
bin/custom/ext-fliegercommerce/fliegercommercesaporderstatus/.classpath
bin/custom/ext-fliegercommerce/fliegercommercesaporderstatus/.project
bin/custom/ext-fliegercommerce/fliegercommercesappricing/.project
bin/custom/ext-fliegercommerce/mediaimportation/.project
bin/custom/ext-fliegercommerce/oscarintegration/.project
bin/custom/fliegercommerce/fliegerb2bcore/.classpath
bin/custom/fliegercommerce/fliegerb2bcore/.project
bin/custom/fliegercommerce/fliegerb2bfacades/.project
bin/custom/fliegercommerce/fliegercommerceb2bstorefront/.classpath
bin/custom/fliegercommerce/fliegercommerceb2bstorefront/.project
bin/custom/fliegercommerce/fliegercommercecockpits/.project
bin/custom/fliegercommerce/fliegercommercecore/.project
bin/custom/fliegercommerce/fliegercommercefacades/.project
bin/custom/fliegercommerce/fliegercommercefulfilmentprocess/.project
bin/custom/fliegercommerce/fliegercommerceinitialdata/.project



# Files - Automatically Generated when install recipes

bin/custom/addon-fliegercommerce/adveoitminicartaddon/project.properties
bin/custom/addon-fliegercommerce/cigcupaddon/project.properties
bin/custom/addon-fliegercommerce/fcb2bprodmatchingcodeaddon/project.properties
bin/custom/addon-fliegercommerce/fliegerb2baccsummaryaddon/project.properties
bin/custom/addon-fliegercommerce/fliegerb2binvoicessapaddon/project.properties
bin/custom/addon-fliegercommerce/fliegerb2breturnsaddon/project.properties
bin/custom/addon-fliegercommerce/fliegercommerceeasybuy/project.properties
bin/custom/addon-fliegercommerce/historyorderaddon/project.properties
bin/custom/addon-fliegercommerce/adveoaddressaddon/project.properties
bin/custom/addon-fliegercommerce/adveob2bunitvalidateaddon/project.properties
bin/custom/addon-fliegercommerce/adveoreclaimaddon/project.properties
bin/custom/addon-fliegercommerce/fcb2bmultitariffaddon/project.properties
bin/custom/addon-fliegercommerce/fcb2bshoppinglistaddon/project.properties
bin/custom/addon-fliegercommerce/fliegerb2baddon/project.properties
bin/custom/addon-fliegercommerce/fliegerb2bdatasheetpdfaddon/project.properties
bin/custom/addon-fliegercommerce/fliegerb2bemailsettingaddon/project.properties
bin/custom/addon-fliegercommerce/fliegerb2borgaddon/project.properties
bin/custom/addon-fliegercommerce/fliegerb2bsecportaladdon/project.properties
bin/custom/addon-fliegercommerce/fliegercommerceproductinfoaddon/project.properties
bin/custom/addon-fliegercommerce/offlinesalesorderaddon/project.properties
bin/custom/addon-fliegercommerce/adveoitalyquotationaddon/project.properties
bin/custom/addon-fliegercommerce/adveoitminicartaddon/project.properties
bin/custom/addon-fliegercommerce/cigcupaddon/project.properties
bin/custom/addon-fliegercommerce/fcb2bprodmatchingcodeaddon/project.properties
bin/custom/addon-fliegercommerce/fliegerb2baccsummaryaddon/project.properties
bin/custom/addon-fliegercommerce/fliegerb2beosfinder/project.properties
bin/custom/addon-fliegercommerce/fliegerb2binvoicessapaddon/project.properties
bin/custom/addon-fliegercommerce/fliegerb2breturnsaddon/project.properties
bin/custom/addon-fliegercommerce/fliegercommerceeasybuy/project.properties
bin/custom/addon-fliegercommerce/historyorderaddon/project.properties

bin/custom/fliegercommerce/fliegercommerceb2bstorefront/resources/wro_addons.xml



# Files - generated general
[Gg]enerated*.java
build.xml
extensioninfo.xsd
hmc.xsd
platformhome.properties
**/items.xsd
**/beans.xsd
items.xsd
beans.xsd
*testclasses.xml
*webtestclasses.xml
.pmd
.spring[Bb]eans
_ui/desktop/common/images/trustedShop.gif
dummy.txt
AddResponsiveTagsHere.txt
AddTagLibsHere.txt
AddCmsComponentsHere.txt
AddPageFragmentsHere.txt
AddPagesHere.txt
AddImagesHere.txt

bin/custom/addon-fliegercommerce/offlinesalesorderaddon/web/webroot/WEB-INF/_ui-src/addons/adveoaddressaddon/
bin/custom/addon-fliegercommerce/offlinesalesorderaddon/web/webroot/WEB-INF/_ui-src/addons/adveoitalyquotationaddon/
bin/custom/addon-fliegercommerce/offlinesalesorderaddon/web/webroot/WEB-INF/_ui-src/addons/fcb2bprodmatchingcodeaddon/
bin/custom/addon-fliegercommerce/offlinesalesorderaddon/web/webroot/WEB-INF/_ui-src/addons/fcb2bshoppinglistaddon/
bin/custom/addon-fliegercommerce/offlinesalesorderaddon/web/webroot/WEB-INF/_ui-src/addons/fliegerb2bdatasheetpdfaddon/
bin/custom/ext-fliegercommerce/fliegerb2bsaporderexchange/web/webroot/WEB-INF/_ui-src/
bin/custom/ext-fliegercommerce/fliegercommercesappricing/web/webroot/WEB-INF/_ui-src/
bin/custom/ext-fliegercommerce/oscarintegration/web/webroot/WEB-INF/_ui-src/addons/adveoaddressaddon/
bin/custom/ext-fliegercommerce/oscarintegration/web/webroot/WEB-INF/_ui-src/addons/adveoitalyquotationaddon/
bin/custom/ext-fliegercommerce/oscarintegration/web/webroot/WEB-INF/_ui-src/addons/fcb2bprodmatchingcodeaddon/
bin/custom/ext-fliegercommerce/oscarintegration/web/webroot/WEB-INF/_ui-src/addons/fcb2bshoppinglistaddon/
bin/custom/ext-fliegercommerce/oscarintegration/web/webroot/WEB-INF/_ui-src/addons/fliegerb2bdatasheetpdfaddon/
bin/custom/ext-fliegercommerce/oscarintegration/web/webroot/WEB-INF/_ui-src/addons/offlinesalesorderaddon/
bin/custom/fliegercommerce/fliegercommerceb2bstorefront/web/webroot/WEB-INF/_ui-src/addons/adveoaddressaddon/
bin/custom/fliegercommerce/fliegercommerceb2bstorefront/web/webroot/WEB-INF/_ui-src/addons/adveob2bunitvalidateaddon/
bin/custom/fliegercommerce/fliegercommerceb2bstorefront/web/webroot/WEB-INF/_ui-src/addons/adveoitalyquotationaddon/
bin/custom/fliegercommerce/fliegercommerceb2bstorefront/web/webroot/WEB-INF/_ui-src/addons/adveoitminicartaddon/
bin/custom/fliegercommerce/fliegercommerceb2bstorefront/web/webroot/WEB-INF/_ui-src/addons/adveoreclaimaddon/
bin/custom/fliegercommerce/fliegercommerceb2bstorefront/web/webroot/WEB-INF/_ui-src/addons/cigcupaddon/
bin/custom/fliegercommerce/fliegercommerceb2bstorefront/web/webroot/WEB-INF/_ui-src/addons/fcb2bmultitariffaddon/
bin/custom/fliegercommerce/fliegercommerceb2bstorefront/web/webroot/WEB-INF/_ui-src/addons/fcb2bprodmatchingcodeaddon/
bin/custom/fliegercommerce/fliegercommerceb2bstorefront/web/webroot/WEB-INF/_ui-src/addons/fcb2bshoppinglistaddon/
bin/custom/fliegercommerce/fliegercommerceb2bstorefront/web/webroot/WEB-INF/_ui-src/addons/fliegerb2bdatasheetpdfaddon/
bin/custom/fliegercommerce/fliegercommerceb2bstorefront/web/webroot/WEB-INF/_ui-src/addons/fliegerb2bemailsettingaddon/
bin/custom/fliegercommerce/fliegercommerceb2bstorefront/web/webroot/WEB-INF/_ui-src/addons/fliegerb2beosfinder/
bin/custom/fliegercommerce/fliegercommerceb2bstorefront/web/webroot/WEB-INF/_ui-src/addons/fliegerb2binvoicessapaddon/
bin/custom/fliegercommerce/fliegercommerceb2bstorefront/web/webroot/WEB-INF/_ui-src/addons/fliegerb2breturnsaddon/
bin/custom/fliegercommerce/fliegercommerceb2bstorefront/web/webroot/WEB-INF/_ui-src/addons/fliegercommerceeasybuy/
bin/custom/fliegercommerce/fliegercommerceb2bstorefront/web/webroot/WEB-INF/_ui-src/addons/fliegercommerceproductinfoaddon/
bin/custom/fliegercommerce/fliegercommerceb2bstorefront/web/webroot/WEB-INF/_ui-src/addons/historyorderaddon/
bin/custom/fliegercommerce/fliegercommerceb2bstorefront/web/webroot/WEB-INF/_ui-src/addons/offlinesalesorderaddon/
bin/custom/fliegercommerce/fliegercommerceb2bstorefront/web/webroot/WEB-INF/_ui-src/addons/yaddon/

bin/custom/addon-fliegercommerce/fliegerb2beosfinder/build.xml

######################
# Grunt
######################

bin/custom/fliegercommerce/fliegercommerceb2bstorefront/node_modules/
bin/custom/fliegercommerce/fliegercommerceb2bstorefront/web/webroot/_ui/responsive/theme-adveo2016/css/style.css
bin/custom/fliegercommerce/fliegercommerceb2bstorefront/web/webroot/_ui/responsive/theme-black/css/style.css
bin/custom/fliegercommerce/fliegercommerceb2bstorefront/web/webroot/_ui/responsive/theme-blue/css/style.css
bin/custom/fliegercommerce/fliegercommerceb2bstorefront/web/webroot/_ui/responsive/theme-adveo2016/css/style.css.map
bin/custom/fliegercommerce/fliegercommerceb2bstorefront/web/webroot/_ui/responsive/theme-black/css/style.css.map
bin/custom/fliegercommerce/fliegercommerceb2bstorefront/web/webroot/_ui/responsive/theme-blue/css/style.css.map


######################
# Flieger Commerce front-end files
######################

# these files are generated and should not be edited manually
**/fliegercommerce/**/web/webroot/_ui/responsive/common/js/fliegercommerce

# nodejs
node_modules/


######################
# JRebel
######################

rebel.xml


######################
# Gradle
######################



######################
# Intellij
######################

*.iml
.idea/







